%h1 Send an Invite

- if current_user.admin?
  = form_for @invite, url: invites_path do |f|
    .field
      = f.label :email, "Email of the invitee"
      = f.email_field :email

    .field
      = f.label :role, "Select role for the invitee"
      = f.select :role, options_for_select(['admin', 'supporter']), {}, {class: "select"}

    .field
      = f.label :message, "Custom message (optional)"
      = f.text_area :message

    .actions
      = f.submit "Send Invite"

- elsif current_user.supporter?
  = form_for @invite, url: invites_path do |f|
    .field
      = f.label :email, "Email of the young person"
      = f.email_field :email

    %input{type: "hidden", name: "invite[role]", value: "young_person"}

    .field
      = f.label :message, "Custom message (optional)"
      = f.text_area :message

    .actions
      = f.submit "Send Invite"

- elsif current_user.young_person?
  = form_for @invite, url: invites_path do |f|
    .field
      = f.label :email, "Email of the loved one"
      = f.email_field :email

    %input{type: "hidden", name: "invite[role]", value: "loved_one"}

    .field
      = f.label :message, "Custom message (optional)"
      = f.text_area :message

    .actions
      = f.submit "Send Invite"

- else
  %p You are not authorized to send invites.
