.card
  .card-header.d-flex.align-items-center
    %span Users

  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th Role
        %th Created At
        %th Status
        %th Actions

    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.role
          %td= user.created_at.strftime("%Y-%m-%d")
          %td
            - if user.role == 'young_person' && YoungPerson.find_by(user_id: user.id).present?
              - if user.young_person.passed_away?
                %span.passed-away Passed Away
              - else
                %span.alive Alive
            - elsif user.role == 'supporter' && Supporter.find_by(user_id: user.id).present?
              - if Supporter.find_by(user_id: user.id).active?
                %span.active Active
              - else
                %span.unactive Unactive
          %td
            .btn-toolbar.float-end
            = link_to 'Show', user, class: 'btn btn-outline-secondary btn-sm'
            = link_to 'Edit', edit_user_path(user), class: 'btn btn-bd-primary'
            - if user.role == 'supporter' && Supporter.find_by(user_id: user.id).present?
              - if Supporter.find_by(user_id: user.id).active?
                = link_to 'Make Supporter Unactive', make_supporter_unactive_user_path(user), method: :patch, data: { confirm: 'Are you sure?' }
              - else
                = link_to 'Make Supporter active', make_supporter_active_user_path(user), method: :patch, data: { confirm: 'Are you sure?' }
            - if user.role == 'young_person' && YoungPerson.find_by(user_id: user.id).present?
              = link_to 'Assign Supporter', new_young_person_management_path(user_id: user.id), class: 'btn btn-bd-primary'
