.card
  .card-header.d-flex.align-items-center
    %span Listing Answers

  %table.table
    %thead
      %tr
        %th Question
        %th Answer
        %th Actions
    %tbody
      - @answers.each do |answer|
        %tr
          %td= answer.question.try(:content) || 'No question'
          %td= answer.content
          %td
            .btn-toolbar
              = link_to 'Show', [answer.question, answer], class: 'btn btn-outline-secondary btn-sm'
              - if current_user && current_user.role == 'admin'
                - if answer.has_active_alert?
                  = link_to 'Edit Alert', edit_answer_alert_path(answer.answer_alerts.where(active: true).first), class: 'btn btn-outline-secondary ms-1 btn-sm'
                - else
                  = link_to 'Create Alert', new_answer_alert_path(answer_id: answer.id), class: 'btn btn-outline-secondary ms-1 btn-sm'
              - if current_user.role == 'young_person'
                = link_to 'Edit', edit_question_answer_path(answer.question, answer), class: 'btn btn-outline-secondary ms-1 btn-sm'
                = link_to 'Destroy', [answer.question, answer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'
