%h1 Answer Details

.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        %h5= "Answer for question ID: #{@answer.question_id}"
      .card-body
        %p= @answer.content
        %h5 Selected Bubbles
        %ul.list-group
          - @answer.bubbles.each do |bubble|
            %li.list-group-item= bubble.name
      - if @answer.media.attached?
        %h5 Attached Media
        - @answer.media.each do |media_attachment|
          .attached-media
            - if media_attachment.image?
              = image_tag(media_attachment, class: 'img-fluid')
            - elsif media_attachment.video?
              %video{controls: true, class: 'img-fluid'}
                %source{src: url_for(media_attachment), type: media_attachment.content_type}
            - elsif media_attachment.audio?
              %audio{controls: true}
                %source{src: url_for(media_attachment), type: media_attachment.content_type}
      .card-footer.d-flex
        - if current_user && current_user.role == 'young_person' 
          = link_to 'Edit', edit_question_answer_path(@answer.question, @answer), class: 'btn btn-primary'
          = link_to 'Back to Answers', question_answers_path(@question), class: 'btn btn-link ms-auto'
        - if current_user && current_user.role == 'supporter' 
          = link_to 'Back',answers_path(user_id: @answer.user_id), class: 'btn btn-link ms-auto'
        - if current_user && current_user.role == 'admin' 
          = link_to 'Back',answers_path, class: 'btn btn-link ms-auto'
