%h1 Invites
%table
  %thead
    %tr
      %th Email
      %th Code
      %th Sent At
      %th Used By
      %th Actions
  %tbody
    - @invites.each do |invite|
      %tr
        %td= invite.email
        %td= invite.code
        %td= invite.created_at.strftime("%Y-%m-%d %H:%M")
        %td= invite.user&.email
        %td
          = link_to 'Delete', admin_invite_path(invite), method: :delete, data: { confirm: 'Are you sure?' }
