.card
  .card-header.d-flex.align-items-center
    %span Listing Requests
    %span (There are #{@emotional_supports.size} requests that need addressing.)

  %table.table
    %thead
      %tr
        %th Patient
        %th Description
        %th Date Submitted
        %th
    %tbody
      - @emotional_supports.each do |emotional_support|
        - user = User.find_by(id: emotional_support.user_id)
        - young_person = YoungPersonManagements.find_by(young_person_id: user.id)
        - if young_person.supporter_id == current_user.id
          %tr
          %td= user.name
          %td= emotional_support.content
          %td= emotional_support.created_at
          %td
            .btn-toolbar.float-end
              = link_to 'Complete',emotional_support, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'
               