%h1 Alert Details
%p
  %strong Alert Message:
  = @answer_alert.commit
%p
  %strong Related Answer ID:
  = @answer_alert.answer_id
%p
  %strong Created At:
  = @answer_alert.created_at.strftime("%Y-%m-%d %H:%M:%S")
%p
  %strong Updated At:
  = @answer_alert.updated_at.strftime("%Y-%m-%d %H:%M:%S")
  
= link_to 'Edit', edit_answer_alert_path(@answer_alert), class: 'btn btn-primary'
= link_to 'Back to Answer', answers_path, class: 'btn btn-secondary'


