-# app/views/future_message_alerts/new.html.haml
.container
  %h2 future_message Alert 
= simple_form_for @future_message_alert do |f|
  = f.error_notification

  .form-inputs
    = f.input :commit, as: :text, required: true, label: 'Your alert', input_html: { rows: 4 }
    = f.input :future_message_id, as: :hidden, input_html: { value: @future_message_alert.future_message_id }

  .form-actions
    = f.button :submit, 'Submit Alert', class: 'btn btn-primary'
    = link_to 'Cancel', future_messages_path, class: 'btn btn-secondary'

